{% extends "auctions/layout.html" %}

{% block body %}

<h2> Categories </h2>
<div class="container">
    {% for item in categories %}
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <h6><a href="{% url 'auctions:category_listings' item.id %}"> {{item.category}}</a></h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <h6> {{ item.activeListings.count }} </h6>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}