{% extends "auctions/layout.html" %}

{% block body %}
    <h2> Watchlist </h2>

    {% for item in watchlist %}    
        <h4>
            <a href="{{ item.get_absolute_url }}"> {{item.title}}</a>
        </h4>
        <h6> description : {{item.description}}</h6>
        <h4> current price : {{item.max_bid}}</h4>
        {% if item.image %}
            <img src="{{item.image.url}}"/>
        {% else %}
            <img src="img/default.jpeg"/>
        {% endif %}
    {% endfor %}
{% endblock %}